.idea
.coverage
.pytest_cache
.bash_history
.cache/
.git-credentials
.ipython/
.local/
.pip/
**/__pycache__/
**/.temp_data/
test.py

# packaging build artifacts
build/
dist/
*.egg-info/
src/*.egg-info/
